# Copyright (c) 2025 Peter Johanson
# SPDX-License-Identifier: MIT

config BOARD_PRAXIS_HE
	select SOC_STM32F411XE
	select ZMK_BOARD_COMPAT
	imply RETAINED_MEM
	imply RETENTION
	imply RETENTION_BOOT_MODE
	imply STM32_BOOTLOADER
	imply RTC
	imply BBRAM
